<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>
        .container{
            /* text-align: center; */
            /* justify-content: center; */
            /* margin-top: 50vh; */
            margin: 20px;
        }
        .text-warning{
            /* text-emphasis-color: green; */
            color: aquamarine;
        }
        .danger{
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3 class="text-white mt-5">Become an Author
        </h3>
        {% if messages %} {% for message in messages %}
        <p if {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
        {% endfor %} {% endif %}
        <form action="" method="post" novalidate>
            {% csrf_token %} {% for fm in form %}
            <div class="form group container">
                {{fm.label_tag}} {{fm}}
                <small class="text-warning"> {{fm.errors|striptags}}</small>
            </div>
            {% endfor %}
            <br>
            <input type="submit" value="Sign Up" style="color:rgb(55, 58, 58);">
            {% if form.non_field_errors %} {% for error in form.non_field_errors %}
            <p class="danger">{{error}}</p>
            {% endfor %} {% endif %}
            <a href="/login"><input type="button" value="Log in" style="color:rgb(55, 58, 58);"></a>
        </form>
    </div>
</body>
</html>
