{% extends 'base.html' %} {% load static %} {% block content %}
<img src="{% static 'images/rsp.jpeg' %}" alt="">
<div class="col-sm-10">
    <h3 class="text-white mt-5">Rules to be followed before uploading the </h3>
    <p> Any purchase things can be added here, please mention the items purchased with the amount in breif</p>
</div>
<p>I will collect the bills from you at the end of the day
</p>
<p>Please do not forgot the bill
</p>
<p>Please pray for me
</p>
<p>Hare Krishna
</p>
{% endblock content %}