{% extends 'base.html' %} {% load static %} {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
</script>
<style>
    .block_ard {
        display: none;
        /* font-size: 20px; */
    }
    
.load_more
{
	margin-top: 80px;
	margin-bottom: 140px;
}
.load_more_button
{
	width: 118px;
	height: 36px;
	background: transparent;
	border: solid 1px #d7d7d7;
	border-radius: 18px;
	margin: 0 auto;
	line-height: 32px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.load_more_button:hover
{
	background: #d7d7d7;
    color: black;
}
</style>
<div class="table-responsive mt-3">
    <div class="d-flex">
        
    <a href="{% url 'addpost' %}" class="btn btn-success align-items-end my-3 mx-1">Add Entry</a>
    <a href="{% url 'dashboard' %}" class="btn btn-success align-items-end my-3 mx-1">Edit Entry</a>
    </div>
    {% if posts %}
    <table class="table align-middle mb-0 bg-white">
        <thead class="" style="color: rgb(6, 5, 5); background-color: rgb(67, 213, 86);">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Items</th>
                <th>Amount_Taken</th>
                <th>Amount_used</th>
                <th>Bill</th>
                <th>To_be_returned</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {%for p in posts %}
            <tr class="block_ard">
                <td>
                    <p>{{p.id}}</p>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <!-- <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                            style="width: 45px; height: 45px" class="rounded-circle" /> -->
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{p.user}}</p>
                            <p class="text-muted mb-0">{{p.date}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{p.category}}</p>
                    <!-- <p class="fw-normal mb-1">{{p.status}}</p> -->
                   
                       
                    
                </td>
                <td>
                    {{p.desc}}
                </td>
                <td>
                    <span>{{p.amount_taken}} Rs.</span>
                </td>
                <td>{{p.amount_used}} Rs.</td>
                <td> {% if p.bill %}
                    <!-- <p style="color: green;">Bill is there</p> -->
                    <!-- <i class="fa-solid fa-square-check"></i> -->
                    <!-- <i class="fa-regular fa-square-check"></i> -->
                    <img width="24px" height="auto" src="{% static 'images/square-check-regular.svg' %}" alt="">
                    {% else %}
                    <img width="24px" height="auto" src="{% static 'images/square-regular.svg' %}" alt="">
                    <p style="color: red;"> </p>
                    {% endif %}</td>
                <td>

                   <p class="text-black " style="font-weight: 700;"> {{ p.to_be_returned }} Rs.</p>

                </td>
                <td>
                    <!-- {{p.remaining}} -->
                    <p>
                        {% if p.remaining %}
                    <p style="color: green;">Paid</p>
                    {% else %}
                    <p style="color: red;">Not paid</p>
                    {% endif %}
                    </p>

                </td>
                
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning">No records</h4>
    {% endif %}
    <div class="text-center load_more my-2 " >
        <div id="load" class="load_more_button text-center trans_200">Load More</div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $(".block_ard").slice(0,10).show();
        if($(".block_ard:hidden").length!=0) {
            $("#load").show();
        }
        $("#load").on("click",function(e) {
            e.preventDefault();
            $(".block_ard:hidden").slice(0,5).slideDown();
            if($(".block_ard:hidden").length==0) {
                $("#load").text("No More to view")
                    .fadOut("slow");
            }
        });
    })
</script>
{% endblock content %}